/* CONFIGURAÇÃO BASE */
body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
color:white;
text-align:center;
overflow-x:hidden;
transform:translateZ(0);
}

/* VIDEO TELA CHEIA BLINDADO */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;

  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}

/* CAMADA ESCURA */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 30, 0.65);
  z-index: -1;
}

/* CONTEÚDO */
.container {
  padding: 40px 20px;
  position: relative;
  z-index: 1;
}

/* CORAÇÃO */
.heart{
font-size:40px;
display:inline-block;
animation:pulse 1.5s infinite;
transform:translateZ(0);
will-change:transform;
}

/* animação isolada */

@keyframes pulse{
0%{transform:scale3d(1,1,1);}
50%{transform:scale3d(1.2,1.2,1);}
100%{transform:scale3d(1,1,1);}
  }

/* FOTO PRINCIPAL */
img {
  width: 90%;
  max-width: 350px;
  border-radius: 20px;
  margin: 20px 0;
}

/* PLAYER DE MÚSICA MODERNO */

.music-player{
display:flex;
align-items:center;
gap:15px;
background:rgba(0,0,0,0.55);
backdrop-filter: blur(10px);
padding:15px;
margin:25px auto;
width:90%;
max-width:500px;
border-radius:18px;
box-shadow:0 0 20px rgba(255,80,120,0.3);
}

/* CAPA DA MÚSICA */

.music-player img{
width:60px;
height:60px;
border-radius:10px;
object-fit:cover;
margin:0;
}

/* INFORMAÇÕES */

.music-info{
flex:1;
text-align:left;
}

.music-info h3{
margin:0;
font-size:16px;
}

.music-info p{
margin:0;
font-size:13px;
opacity:0.7;
}

/* PLAYER */

audio{
width:100%;
margin-top:8px;
}

/* FRASE FINAL */

.frase {
  margin-top: 40px;
  font-size: 18px;
}
